@font-face { font-family: SamsungSans; src: url('SamsungSans-Regular.ttf'); } 
@font-face { font-family: SamsungSharpSans; src: url('samsungsharpsans.otf'); } 
@font-face { font-family: Fortnite; src: url('fortnite.otf'); } 
@font-face { font-family: Burbank; src: url('Burbank\ Big\ Condensed\ Black.otf'); } 

#javascript{
    font-family:SamsungSans;
    color:white;
    background-image: url("fU2C6T2yfT.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: rgb(46,46,46);
    /*background: rgb(46,46,46);
    background: linear-gradient(0deg, rgb(31, 31, 31) 0%, rgb(70, 73, 83) 100%);*/
    overflow-y: hidden;
}
body.tworzenie_witryn{
    font-family:SamsungSans;
    color:white;
    background: rgb(46,46,46);
    background: linear-gradient(0deg, rgb(23, 34, 25) 0%, rgb(70, 83, 71) 100%);
}
#main_box{
    background-color: rgba(0,0,0,0.2);
    max-height: 500px;
    height:max-content;
    
    overflow-y: scroll;
    margin-bottom:auto;
    margin-left: auto;
    margin-right: auto;
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 5px;
    position:relative;
    
    /*position: fixed;
    bottom:10px;
    left:0;
    right:0;*/
    max-width: 100%;
    min-width: 50%;
    width: fit-content;
}
#upper_box{
    min-height: 50%;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.checkbox_center{
    display: block;
    font-size:small;
    background:none;
    border:none;
    margin-left:10px;
    color:rgb(54, 158, 255);
    text-decoration: none;
    font-weight: 100;
    background-color:rgba(37, 26, 189, 0.4);
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    position: fixed;
    top:20px;
    right:20px;
}
.checkbox_center:hover{
    color:rgb(255, 255, 255);
    font-weight: 100;
    box-shadow: 0px 0px 5px 0px;
    transition: 0.2s;
}
h3{
    margin:10px;
    color:rgb(201, 201, 201);
}
li{
    margin-bottom: 7px;
}
li:hover{
    font-weight: 800;
}
a.file{
    color:rgb(54, 158, 255);
    text-decoration:underline;
    text-decoration-color: #0385ff;
}
a.file:hover{
    /*color:rgb(180, 255, 255);
    text-shadow: 0px 0px 3px rgb(180, 255, 255);*/
    color:rgb(103, 181, 255);
    text-shadow: 0px 0px 2px rgb(103, 181, 255);
    text-decoration: none;
    transition: 0.2s;
}
a.file:active{
    font-weight: 800;
    background-color: white;
    color:black;
}
div {
    padding: 10px;
    height: 100vh;
}
div.day {
    margin-top:5px;
    height: auto;
    width: auto;
    background-color: rgb(15, 15, 15, 0.3);
    border-style: solid;
    border-color: rgb(87, 91, 100, 0.5);
    border-width: 3px;
    border-radius: 5px;
    padding: 10px;
    clear:both;
    

    margin-left: auto;
    margin-right: auto;
}
p{
    font-weight: 800;
    text-align: center;
    text-shadow: 3px 3px 6px rgb(70, 70, 70);
}
/*
.bit_taller{
    height:140px;
}
*/
div.day:hover {
    background-color: rgba(52, 54, 58, 0.2);
    transition: 0.3s;
    border-color: #989ba3;
    box-shadow: 0px 0px 10px 0px;
}
div.day_missing {
    margin-top:5px;
    height: auto;
    width: auto;
    background-color: rgba(49, 0, 0, 0.3);
    border-style: solid;
    border-color: rgba(145, 76, 76, 0.5);
    border-width: 3px;
    border-radius: 5px;
    padding: 10px;
    clear:both;

    margin-left: auto;
    margin-right: auto;
}
div.day_missing:hover {
    background-color: rgba(117, 0, 0, 0.3);
    transition: 0.3s;
    border-color: rgba(196, 107, 107, 0.5);
    box-shadow: 0px 0px 10px rgb(255, 71, 71);
}
.ZIP{
    color:rgb(0, 255, 170);
    font-weight: 700;
}
.ZIP:hover{
    font-weight: 800;
    color:rgb(136, 255, 215);
}
h1{
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin-left:10px;
    margin-top:0px;
}
.warning{
    color: #d4394d;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    text-align: left;
    margin-left: 10px;
}
.info{
    color:rgb(201, 201, 201);
    text-shadow: 1px 1px 4px rgb(70, 70, 70);
    font-size:small;
    font-weight: 100;
    outline-color: black;
}
.div_warning{
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.3);
    border-style: solid;
    border-color: #ff2323;
    border-width: 2px;
    clear: both;
    height: fit-content;
}
/*
.div_warning:hover{
    background-color: rgba(255, 0, 0, 0.2);
}
*/
button.warning_ok{
    background: rgb(212, 57, 77, 0.7);
    border:none;
    margin-left:10px;
    border-radius: 5px;
}
button.warning_ok:hover{
    background:#e6576a;
}
button.warning_dsa{
    background:none;
    border:none;
    margin-left:10px;
    color:#d4394d;
}
button.warning_dsa:hover{
    color:#e6576a;
}
.preview{
    font-size:small;
    background:none;
    border:none;
    margin-left:10px;
    color:gray;
    text-decoration: none;
    font-weight: 100;
}
a.preview{
    font-size:small;
    background:none;
    border:none;
    margin-left:10px;
    color:lightgray;
    text-decoration: none;
    font-weight: 100;
    background-color:rgba(89, 92, 99, 0.4);
    border-radius: 10px;
    padding: 3px;
}
.only_preview{
    font-size:small;
    background:none;
    border:none;
    color:gray;
    text-decoration: none;
    font-weight: 100;
}
a.preview:hover {
    color:rgb(255, 255, 255);
    font-weight: 100;
    box-shadow: 0px 0px 5px 0px;
    transition: 0.2s;
}
a.only_preview:hover {
    color:lightgray;
    font-weight: 100;
}
div.header_main{
    text-align: center;
    height:auto;
    padding: 0px;
    margin: 0px;
    /*background-color: rgb(64, 67, 73, 0.3);*/
}
div.header1{
    background-color: rgb(70, 70, 70, 0.4);
    text-align:left;
    float:left;
    width:50%;
    height: fit-content;
}
div.header2{
    background-color: rgb(70, 70, 70, 0.4);
    text-align:right;
    float:right;
    width:45%;
    height: fit-content;
    
}
div.stopka {
    height: auto;
    width: auto;
    background-color: rgb(49, 49, 49);
    border-style: solid;
    border-color: #6d717c;
    border-width: 3px;
    padding: 10px;
    clear:both;
}
button.othersite{
    color:rgb(255, 255, 255);
    background:#1c2031;
    border:solid 1px;
    border-color: rgb(201, 201, 201);
    border-radius: 5px;
    margin-left:10px;
}
button.othersite:hover{
    background:#313753;
}
hr{
    clear:both;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
a.invisible{
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.cat_image{
    margin-bottom: 0px; 
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cat_image:hover{
    color:lightgray;
    box-shadow: 0px 0px 5px 0px;
    transition: 0.2s;
    cursor:grab;
    /*cursor: url('cat_cursor.png'), auto;*/
}
.cat_image:active{
    color:rgb(255, 0, 0);
    box-shadow: 0px 0px 50px 0px;
    height: 100px;
    width: 140px;
    transition: 0.1px;
    cursor:grabbing;
}
ul {
    list-style-image: url('download-icon-3.png');
    list-style-position: inside;
  }
#witrynycss_warning{
    position: fixed;
    color: #d4394d;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    bottom:-20px;
    left:-20px;
    padding-top: 10px;
    padding-right:10px;
    padding-left:30px;
    padding-bottom: 30px;
    border-radius: 15px;
    background-color: rgba(212, 58, 79, 0.3);
}