body{
    font-family:verdana;
    color:white;
    background: rgb(46,46,46);
    background: linear-gradient(0deg, rgba(46,46,46,1) 0%, rgb(75, 75, 75) 100%);
}
a{
    color:aqua;
}
a:active{
    background-color: white;
    color:black;
}
div {
    height: auto;
    width: auto;
    background-color: rgb(15, 15, 15);
    border-style: solid;
    border-color: #575b64;
    border-width: 3px;
    padding: 10px;
}
p{
    font-weight: 800;
    text-align: center;
    text-shadow: 3px 3px 6px rgb(70, 70, 70);
}
.bit_taller{
    height:140px;
}
div:hover {
    background-color: #1a1b1d;
}
.ZIP{
    color:rgb(0, 255, 170);
    font-weight: 800;
}
h1{
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin-left:10px;
}
.warning{
    color: #d4394d;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    text-align: left;
    margin-left: 10px;
}
.info{
    color:rgb(201, 201, 201);
    text-shadow: 1px 1px 4px rgb(70, 70, 70);
    font-size:small;
    font-weight: 100;
}
.div_warning{
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.2);
    border-style: solid;
    border-color: #ff2323;
    border-width: 2px;
}
.div_warning:hover{
    background-color: rgba(255, 0, 0, 0.2);
}
button.warning_ok{
    background:#d4394d;
    border:none;
    margin-left:10px;
}
button.warning_ok:hover{
    background:#e6576a;
}