body{
    font-family:verdana;
    color:white;
    background-color:#313338;
}
a{
    color:aqua;
}
a:active{
    background-color: white;
    color:black;
}
div {
    height: auto;
    width: auto;
    background-color: rgb(15, 15, 15);
    border-style: solid;
    border-color: #575b64;
    border-width: 3px;
    padding: 10px;
}
p{
    font-weight: 800;
    text-align: center;
}
.bit_taller{
    height:140px;
}
div:hover {
    background-color: #1a1b1d;
}
.ZIP{
    color:aquamarine;
    font-weight: 800;
}