*{
    font-family: Verdana;
}
aside {
    width: 20%;
    height: 610px;
    float: left;
}
img {
    width: 100%;
    height: 610px;
}
header,footer,nav {
    background-color: mediumpurple;
    color: white;
    width: 80%;
    height: 50px;
    text-align: center;
    text-shadow: 4px 4px dimgray;
    float: left;
}
nav {
    padding-top: 10px;
}
main {
    background-color: thistle;
    width: 80%;
    height: 450px;
    overflow: auto;
}
li>input {
    float: right;
    background-color: mediumpurple;
    color: white;
    height: 30px;
    border:none;
}
ul {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 25px;
    border:2px solid mediumpurple;
    list-style: none;
}
li {
    padding: 10px;
}
li:nth-child(even) {
    background-color: #DDCADD;
}
li:hover {
    background-color: lavender;
}