*{
    font-family: verdana;
    text-align: center;
}
header{
    background-color: darkgreen;
    color: white;
    padding: 5px;
}
#b_l{
    background-color: palegreen;
    width: 30%;
    height: 500px;
    float: left;
}
#b_p{
    background-color: honeydew;
    width: 70%;
    height: 500px;
    padding-top: 100px;
    float: right;
}
footer{
    background-color: palegreen;
    padding: 3px;
    clear: both;
}
table, td{
    border: 1px solid darkgreen;
    border-collapse: collapse;
}
table {
    margin:auto;
    width: 95%;
}
tr{
    margin: auto;
    width: 95%;
}
td, th{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}
.aktualizacja, .zamowienie{
    background-color: darkgreen;
    color: white;
    padding: 5px;
}
.aktualizacja:hover, .zamowienie:hover{
    background-color: honeydew;
    color: darkgreen;
}